<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container">

        <app-carousel></app-carousel>

    </div>
</div>

<div class="container">
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-md-4">
            <h2>Nuestra Historia</h2>
            <p>Meyro nace en el año 1946, En la década del 70 se afianza como la marca líder de Argentina... </p>
            <p><a class="btn btn-secondary" routerLink="/historia" role="button">Ver Mas &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Nuestros Productos</h2>
            <p>La gama de productos MEYRO abarca Juntas, Retenes y Bulones para motores de automóviles... </p>
            <p><a class="btn btn-secondary" routerLink="/productos" role="button">Ver Mas &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Dto. Técnico</h2>
            <p>Nuestro Departamento Técnico desarrolla cada producto siguiendo los stándares internacionales...</p>
            <p><a class="btn btn-secondary" routerLink="/blog" role="button">Ver Mas &raquo;</a></p>
        </div>
    </div>

</div>
<!-- /container -->