<div class="container">
    <div (showValue)="cambiaVista()" *ngIf="!showDetail">

        <strong><h1>Pedidos</h1></strong>

        <div>
            <pagination-controls (click)="scrollTop()" (pageChange)="p = $event" previousLabel="Previo" nextLabel="Siguiente"></pagination-controls>
        </div>

        <div class="card mb-12 p-2" *ngFor="let item of pedidos | paginate: { itemsPerPage: 20, currentPage: p }">

            <app-pedidos (showValue)="cambiaVista($event)" [pedido]="item"></app-pedidos>

        </div>
        <hr>
    </div>

    <div>
        <app-pedido-detalle [showBar]="showBar" [idPedido]="idPedido" (showValue)="cambiaVista()" *ngIf="showDetail"></app-pedido-detalle>
    </div>
</div>