<div class="container">

    <form #f="ngForm" name="f" (change)="SeleccionaSucursaldeHTML()">
        <div class="bgd">
            <h4>PEDIDO ON LINE</h4>

            <label>Fecha : {{ hoy | date: 'dd/MM/yyyy' }} </label>

            <div class="row">
                <div class="col-sm-3">
                    <strong>Cliente : </strong>
                    <p> {{ clienteLogueado.idCliente }} {{ clienteLogueado.razonSocial }}</p>
                </div>

                <div class="col-sm-3">
                    <strong>Direccion de Envio: </strong>
                    <select class="custom-select mr-1" [(ngModel)]="sucursalSelected" [ngModelOptions]="{standalone: true}">
                        <option *ngFor="let item of sucursales">
                            {{ item.nombreSucursal }}
                        </option>
                    </select>
                </div>

                <div class="col-sm-3">
                    <strong>Medio de Envio: </strong>
                    <select class="custom-select mr-1" [(ngModel)]="expresoSelected" [ngModelOptions]="{standalone: true}">
                        <option *ngFor="let item of expresos">
                            {{ item.nombre }}
                        </option>
                    </select>
                </div>

                <div class="col-sm-3">
                    <button type="button" class="btn btn-primary" (click)="exportexcel()">Bajar Excel</button>
                </div>

                <div class="col-sm-12">
                    <hr>
                </div>

                <div class="col-sm-9">
                    <div class="container">
                        <table class="table table-bordered" id="excel-table">
                            <thead class="thead-danger">
                                <tr>
                                    <th>Cantidad</th>
                                    <th scope="col">Codigo</th>
                                    <th scope="col">Aplicación</th>
                                    <th scope="col">P.Lista</th>
                                    <th scope="col">Dto.</th>
                                    <th scope="col">P.Neto</th>
                                    <th scope="col">Subtotal</th>
                                    <th scope="col">Quitar</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of carritoItems">
                                    <td> <input type="number" name="cantidad" value="{{ item.cantidad }}" (change)="updateCantidadCarritoItem(item, $event)"> </td>
                                    <td nowrap class="cent"> {{ item.idArticulo }} </td>
                                    <td nowrap class="izq"> {{ item.descripcionCorta }} </td>
                                    <td nowrap class="der"> $ {{ item.precioLista | number:'1.2-2' }} </td>
                                    <td nowrap class="der"> 20 % </td>
                                    <td nowrap class="der"> $ {{ item.precioLista * 0.8 | number:'1.2-2' }} </td>
                                    <td nowrap class="der"> $ {{ item.precioLista * 0.8 * item.cantidad | number:'1.2-2' }} </td>
                                    <td class="cent"> <button type="button" class="btn btn-danger" (click)="deleteCarritoItem($event, item)">
                                        <i class="fa fa-trash"></i>
                                    </button> </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="col-sm-3">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Detalle</th>
                                <th>Importe</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Subtotal: </td>
                                <td nowrap> $ {{ subtotal | number:'1.2-2' }} </td>
                            </tr>
                            <tr>
                                <td>Descuento :</td>
                                <td nowrap style="color:#FF0000"> ( $ {{ subtotal - (subtotal * 0.8) | number:'1.2-2' }} ) </td>
                            </tr>
                            <tr>
                                <td>Total <b> NETO SIN IVA: </b> </td>
                                <td nowrap> $ {{ subtotal * 0.8 | number:'1.2-2' }} </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <td colspan="2">
                                <button type="button" class="btn btn-success btn-block" (click)="CerrarPedido()">Finalizar
                                    Pedido</button>
                            </td>
                        </tfoot>
                    </table>

                </div>
            </div>

            <hr>

            <div class="col-sm-12">
                <textarea placeholder="Observaciones..." name="message" [(ngModel)]="observaciones"></textarea>
            </div>
        </div>

    </form>

    <hr>

</div>