/* para que no se pise con la navbar */

.container {
    padding-top: 4rem;
}

.btn {
    margin-right: 3px;
}

#buscador {
    width: 50%;
    height: 50%;
    display: flex;
    align-items: center;
}