<div class="container">

    <h3>
        Políticas y Certificaciones
        POLÍTICA DE CALIDAD
    </h3>

    <p>
        JUNAR S.A. se desempeña en el mercado autopartista, teniendo como objetivo la calidad, el servicio, la
        asistencia técnica y el desarrollo permanente, priorizando la continua satisfacción de sus clientes.

        Por eso nos comprometemos a:

        • Evaluar los requisitos de nuestros clientes y satisfacer sus necesidades y expectativas de Calidad,
        Competitividad y Servicio, cumpliendo con los requisitos legales y reglamentarios.
        • Revisar y analizar la política de la calidad y los objetivos, buscando la mejora continua para asegurar la
        eficacia del sistema.
        • Promover la Gestión de la Calidad en todos los niveles de la organización, buscando la optimización de los
        procesos.
        • Promover la participación creativa en equipos de trabajo de todo nuestro personal que permita valorizarlos,
        mejorar la productividad y calidad de vida a través de una capacitación continua y comunicación interna
        permanente.
        • Generar y Mantener las buenas relaciones dentro y fuera de la empresa.
        • Evaluar en forma permanente el cumplimiento de nuestros requisitos de calidad de proveedores.
        • Establecer anualmente los objetivos de calidad dentro de la gestión empresarial.

        La dirección se compromete a apoyar y disponer de los recursos para la Implementación y Certificación del
        Sistema de Gestión de Calidad de JUNAR S.A. acorde a la norma ISO 9001.
        Todo el personal de la empresa es protagonista. El éxito necesita del compromiso de cada uno de nosotros.
        POLÍTICA DE SEGURIDAD, SALUD Y MEDIO AMBIENTE

        JUNAR S.A. se dedica a la producción de juntas para autos, camiones y tractores, y comercialización de juntas,
        retenes, tornillos y aros, teniendo como prioridad la mejora continua en nuestro desempeño de seguridad, salud y
        medio ambiente.

        Por eso nos comprometemos a:
        • Asegurar ámbitos de trabajo seguros y saludables.
        • Cumplir con los requisitos legales aplicables de seguridad, salud y medio ambiente.
        • Identificar activamente los peligrosos de seguridad e higiene industrial como los aspectos ambientales,
        trabajando continuamente para prevenir accidentes laborales e impactos ambientales.
        • Proteger el medio ambiente enfocándonos en el concepto de sustentabilidad, teniendo como objetivo la
        implementación de proyectos de reducción de generación de residuos, el uso de materias primas alternativas,
        control de los aspectos ambientales.
        • Mantener buenas relaciones con las partes interesadas: comunidad y autoridades, para afianzar la comunicación
        y conocer sus intereses trabajando en equipo en seguridad, salud y medio ambiente.
        • Concientizar y motivar a nuestros empleados a contribuir con nuestro compromiso de Medio Ambiente, Salud y
        Seguridad así como el cumplimiento de esta política.

        La dirección se compromete a apoyar y disponer de los recursos para la Implementación y Certificación del
        Sistema de Gestión de Medio Ambiente, Seguridad y Salud Industrial de JUNAR S.A. acorde a la norma ISO 14001 y
        OSHAS 18000.
        Todo el personal de la empresa es protagonista. El éxito necesita del compromiso de cada uno de nosotros.
    </p>

</div>