/* para que no se pise con la navbar */

.container {
    padding-top: 4rem;
}


/* para que no se pise con la navbar */

.container {
    padding-top: 4rem;
}

ul {
    list-style-type: square;
}


/* para que no se pise con la navbar */

.container {
    padding-top: 4rem;
}

.jumbotron {
    background-color: #f4511e;
    color: #fff;
    padding: 100px 25px;
}

.container-fluid {
    padding: 60px 50px;
    background-color: rgb(243, 243, 243);
}

.bg-grey {
    background-color: #f6f6f6;
}

.logo {
    font-size: 200px;
}

@media screen and (max-width: 768px) {
    .col-sm-4 {
        text-align: center;
        margin: 25px 0;
    }
}

img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 400px;
    max-width: 100%;
    height: auto;
}