<div class="container">

    <!-- Container (Contact Section) -->
    <div id="contact" class="container-fluid  bg-grey ">
        <h2 class="text-left">CONTACTO</h2>
        <div class="row">
            <div class="col-sm-5">
                <ul class="list-unstyled">
                    <li>
                        <p>
                            <i class="fa fa-phone"></i> &nbsp; (54 11) 4238-8215 (rotativas)
                        </p>
                    </li>
                    <li>
                        <p>
                            <a href="mailto:ventas@juntasmeyro.com.ar" target="_blank" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
                                <i class="fa fa-envelope"></i>&nbsp; ventas@juntasmeyro.com.ar
                            </a>
                        </p>
                    </li>
                    <li>
                        <div class="redes">
                            <a href="https://www.facebook.com/JuntasMeyro" target="_blank" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
                                <i class="fa fa-facebook fa-lg"></i>&nbsp;
                            </a>

                            <a href="https://twitter.com/JuntasMeyro" target="_blank" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
                                <i class="fa fa-twitter fa-lg"></i>&nbsp;
                            </a>

                            <a href="https://www.youtube.com/channel/UC0nGAJ75SpZvImM6GU98xDA" target="_blank" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
                                <i class="fa fa-youtube fa-lg"></i>&nbsp;
                            </a>

                            <a href="https://www.linkedin.com/company/juntasmeyro" target="_blank" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
                                <i class="fa fa-linkedin fa-lg"></i>&nbsp;
                            </a>
                        </div>
                    </li>
                </ul>

            </div>
            <div class="col-sm-7 slideanim">
                <div class="row">
                    <div class="col-sm-6 form-group">
                        <input class="form-control" id="name" name="name" placeholder="Nombre" type="text" required>
                    </div>
                    <div class="col-sm-6 form-group">
                        <input class="form-control" id="email" name="email" placeholder="Email" type="email" required>
                    </div>
                    <div class="col-sm-6 form-group">
                        <input class="form-control" id="telefono" name="telefono" placeholder="Telefono (opcional)" type="text">
                    </div>
                </div>
                <textarea class="form-control" id="comments" name="comments" placeholder="Mensaje" rows="5"></textarea><br>
                <div class="row">
                    <div class="col-sm-12 form-group">
                        <button type="button" class="btn btn-danger">Enviar</button>
                    </div>
                </div>
            </div>
        </div>

    </div>